body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainImage{

    background-image: url("img/OneiricForge.png");
    min-height: 580px;
    background-attachment: fixed;
    background-color: #1b2027;
    background-position-x: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: auto 40%;
}

.header {

    overflow: hidden;
    background-color: #1b2027;
    position: fixed; /* Set the navbar to fixed position */
    /*display: inline-flex;*/
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    transition: background-color 0.5s;

    /*display: flex;
    background: #555;
    color: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    transition: top 0.3s;*/
}

#mainIcon{

    width: 80px;
    height: 80px;
    padding: 15px;
    padding-left: 20px;
    /*padding-right: 1000px;*/
}

.header img{
    float: left;
}

.header div#headerLinks{

    align-self: center;
    float: right;
    vertical-align: middle;

    padding-top: 25px;
    padding-right: 36px;
}

/*.header div{

    display: table-cell;
    vertical-align: middle;
}*/


.header div#headerLinks a{
    color: white;
    float: right;
    align-self: center;
    /*padding-left: 1.7em;*/
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 1.29em;
    transition: background-color 0.5s;
}

/*.header div#headerLinks a:hover{
    color: #1b2027;
}*/

.header div#headerLinks a{
    position: relative;
    padding: 1rem 0 0.5rem;
    /*margin: 0 1.5rem;*/
    margin: 0 1.7rem;
    color: white;
    text-decoration: none;
  }
  .header div#headerLinks a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
  }
  .header div#headerLinks a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }

#firstZoneMain{

    display: grid;
    justify-content: center;
}

#mainArrow{

    padding-top: 30px;
    width: 55px;
    height: 55px;
    
}

#mainText{

    letter-spacing: 5px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 3em;

}


/*p{
    display: none;
}*/


